
{% extends "AppCoder/parent.html" %}
{% load static %}

{% block title %}

    <title>ABM Docentes</title>

{% endblock %}


{% block titlecontent %}

    <header class="masthead">
        <div class="container">
            <div class="masthead-subheading">Proyecto 23850</div>
            <div class="masthead-heading text-uppercase">Ingreso de nuevo docente</div>
        </div>

        <form action="/AppCoder/abmDocentes" method="POST"> {% csrf_token %}
            
            {% if docentesFormulario.errors %}
                <p>ERROR</p>
            {% endif %}
    
                <table align="center">
                    {{ docentesFormulario.as_table }}
                </table>
        
                <br>
                <input type="submit"  value = "Enviar">
            
        </form>   


    </header>


{% endblock %}


{% block maincontent %}


{% endblock %}