
{% extends "AppCoder/parent.html" %}
{% load static %}

{% block title %}

    <title>Alumnos</title>

{% endblock %}


{% block titlecontent %}

    <header class="masthead">
        <div class="container">
            <div class="masthead-subheading">Proyecto 23850</div>
            <div class="masthead-heading text-uppercase">Detalle de alumno</div>
        </div>

        <ul>

            <p>Nombre: {{alumno.nombre}}</p>
            <p>Apellido: {{alumno.apellido}}</p>
            <p>Matrícula: {{alumno.matricula}}</p>

            <a href="{% url 'AluList' %}">Volver</a>
        </ul>


    </header>

{% endblock %}


{% block maincontent %}

    

{% endblock %}