
{% extends "AppCoder/parent.html" %}
{% load static %}

{% block title %}

    <title>Alumnos</title>

{% endblock %}


{% block titlecontent %}

    <header class="masthead">
        <div class="container">
            <div class="masthead-subheading">Proyecto 23850</div>
            <div class="masthead-heading text-uppercase">Detalle de docente</div>
        </div>

        <ul>

            <p>Nombre: {{docente.nombre}}</p>
            <p>Apellido: {{docente.apellido}}</p>
            <p>Cátedra: {{docente.catedra}}</p>

            <a href="{% url 'DocList' %}">Volver</a>
        </ul>


    </header>

{% endblock %}


{% block maincontent %}

    

{% endblock %}