
{% extends "AppCoder/parent.html" %}
{% load static %}

{% block title %}

    <title>Login</title>

{% endblock %}


{% block titlecontent %}

    <header class="masthead">
        <div class="container">
            <div class="masthead-subheading">Proyecto 23850</div>
            <div class="masthead-heading text-uppercase">AppCoder</div>
        </div>

        <form action="" method="POST">

            {% csrf_token %}
            {{loginForm.as_p}}
    
            <button type="submit">Iniciar sesión</button>
    
        </form>    

    </header>

{% endblock %}


{% block maincontent %}

    <!-- Acá viene el contenido -->

{% endblock %}