
{% extends "AppCoder/parent.html" %}
{% load static %}

{% block title %}

    <title>Logout</title>

{% endblock %}


{% block titlecontent %}

    <header class="masthead">
        <div class="container">
            <div class="masthead-subheading">Proyecto 23850</div>
            <div class="masthead-heading text-uppercase">AppCoder</div>
        </div>

        <h3>Te deslogueaste exitosamente...</h3>    

    </header>

{% endblock %}


{% block maincontent %}

    <!-- Acá viene el contenido -->

{% endblock %}