
{% extends "AppCoder/parent.html" %}
{% load static %}

{% block title %}

    <title>Registro</title>

{% endblock %}


{% block titlecontent %}

    <header class="masthead">
        <div class="container">
            <div class="masthead-subheading">Proyecto 23850</div>
            <div class="masthead-heading text-uppercase">Registro</div>
        </div>

        <form action="" method="POST">
            
            {% csrf_token %}
            {{regForm.as_p}}
            
            <button type="submit">Crear usuario</button>
    
        </form>    

    </header>

{% endblock %}


{% block maincontent %}

    <!-- Acá viene el contenido -->

{% endblock %}